<div id="artwork-section">

	<div class="background-img background-img-xs"></div>
	<div class="background-img background-img-sm"></div>
	<div class="background-img background-img-md"></div>
	<div class="background-img background-img-lg"></div>

	<div class="container-absolute-bottom gradient">
	
		<div class="text-wrapper col-sm-offset-5 col-md-offset-4">
			<h1 ng-bind-html="song.artwork.title | newlines"></h1>
			<h2 ng-bind-html="song.artwork.subTitle | newlines"></h2>
		</div>
		<span class="down-arrow"></span>
		
		
	</div>
	
</div>
