
<div class="home-page-outer-container center-block">

	<div class="header-container center-block">
		<img src="img/header.png" class="header center-block"/>
	</div>
	<hr />
	

	<div class="home-page-inner-container  center-block">
	
		<div class="text">
			
			<p class="sub-header">
			Greeio is a collection of impactful music from different cultures around the world.<br />
			</p>
			
			<p>
			We built Greeio because we believe that every culture has hidden musical gems that
			should be shared with the world. <br />
			Want to see what it's all about? Check out our first stories &hellip;
			</p>
		
		</div>
		
		
		
		<div data-library-container class="library-container container">
		</div>
	
	</div>
	
</div>

