<div class="home-page-outer-container center-block">

	<div class="header-container center-block">
		<img src="img/header.png" class="header center-block"/>
	</div>
	<hr />

	<div class="home-page-inner-container  center-block">


	<h1>Calling All Music Enthusiasts</h1>
	
	<p>
	If you enjoy Greeio, please help us make it better: 
	</p>
	<ul>
		<li>Find an interesting song, and <b>write about it</b>.</li>
		<li><b>Suggest a song</b>, even if you cannot write about it.</li>
		<li>Help <b>edit texts</b> written by other people.</li>
		<!-- 
		<li><b>Tell others</b> about Greeio.</li>
		 -->
	</ul>
	
	<p>
	<a href="mailto:{{CONTACT_EMAIL}}">Drop us a line</a> with any comment, suggestion or question you might have.
	</p>
	
	
	<h1>Q &amp; A</h1>
	
	<dl>
	
	  <dt>
	  	Where does the name <i>Greeio</i> come from?
	  </dt>
	  <dd>
		  Greeio is phonetic (mis)spelling of the word 
		  <a href="http://en.wikipedia.org/wiki/Griot" target="_blank">Griot</a>
	  </dd>
	  
	  <dt>How do I upload/edit the content?</dt>
	  <dd>
	  Please <a href="mailto:{{CONTACT_EMAIL}}">send us an email</a>.<br />
	  Initially, we will use email correspondence and/or a shared Google doc.
	  In the future, we will add a publishing tool to Greeio to allow people to upload, edit, and translate content.
	  </dd>
	  
	  
	  <dt>Do you have any guidelines for content contributors?</dt>
	  <dd>
	  Yep. First of all, you can look at the existing stories to get a general idea. 
	  Also, here are a few guidelines for text contributors:
	  <ul>
	  	<li>Texts should be a <b>light read</b>, Roughly 500 to 1500 words.</li>
	  	<li>Keep in mind that <b>readers may not be native English speakers</b>. Try to use common language, in order for the largest audience to be able to enjoy the text.</li>
	  	<li>Try to find the <b>balance between</b> telling an interesting <b>story</b>, and being <b>informative</b>.</li>
	  	<li>If you are not confident in your writing abilities, please don't let it discourage you from contributing. <b>Others can help edit</b> your text.</li>
	  </ul>
	  </dd>
	  
	  <dt>Will contributors get paid?</dt>
	  <dd>
		Not at the moment. Our hope is to see Greeio evolving into a sustainable non-for-profit, that can pay everybody involved for their time and talent.
	  </dd>
	  
	  <dt>Will contributors get credited for their work?</dt>
	  <dd>
	  	Of course! The whole point of Greeio is to celebrate and showcase people's creativity.
	  </dd> 
	  
	  
	  <dt>Is Greeio only available in English?</dt>
	  <dd>
	  The first version of Greeio will be in English only. This will hopefully change in the near future.
	  </dd>
	  
	  <dt>Who is working on Greeio?</dt>
	  <dd>
	  	Most of the work is done by <a href="http://www.linkedin.com/pub/joey-freund/1b/698/94" target="_blank">Joey Freund</a>,
	  	who started Greeio. In addition to Joey, a number of people have volunteered their 
	  	time and talent to help get Greeio off the ground (big thanks goes out to 
	  	Marguerite de Villiers, who contributed a number of texts about South African music
	  	and provided valuable feedback, and Roey Tsemah, who helped with the design
	  	of the website and the ongoing brainstorming process).
	  </dd>
	  
	  <dt>How did you come up with the idea?</dt>	  
	  <dd>
	  A couple of months ago, I (Joey) was listening to
	  <a href="https://www.youtube.com/watch?v=uu9-_x0M3n8" target="_blank">this song</a>, and I thought to myself: "This is such a beautiful song, with amazing lyrics, and a cool story behind it. Too bad most of my friends, who don't speak Hebrew, will never know about it". 
	  The next thought to come to my mind was "There's probably thousands of songs just like it, from other places in the world, that I will never know about". So, I decided to do something about it.
	  </dd>
	  
	</dl>
	

</div>
</div>