<div class="library-item" data-song-id="{{item.id}}">

	<img ng-src="{{item.authorThumbnail}}" class="author-thumbnail img-circle" />

	<img ng-src="{{item.thumbnail}}" class="library-thumbnail" />
	<div class="library-item-text-box library-item-title"><img class="flag" ng-src="img/flags/{{item.country}}.gif"/> <b>{{item.title}}</b></div>
	
	<div class="library-item-text-box library-item-subtitle">{{item.subTitle}}</div>
	<div class="library-teim-text-box library-item-summary">
	{{item.summary}}&hellip; <span class="light">Read more &gt;</span>
	</div>

</div>